@font-face {
  font-family: "Playwrite AU VIC";
  src: url("https://fonts.googleapis.com/css2?family=Playwrite+AU+VIC:wght@100..400&display=swap");
}

h1 {
  font-family: "Playwrite AU VIC", cursive;
  color: blue;
}
