@font-face {
  font-family: "Gupter Regular";
  src: url(Gupter-Regular.ttf);
}
.title {
  font-family: "Gupter Regular", sans-serif;
  color: blue;
  text-align: center;
}
.img-container {
  display: flex;
  justify-content: center;
}
.img-style {
  width: 100%;
  max-width: 400px;
  height: auto;
}
